li {
  background-color: yellow;
}

h1 {
  font-size: medium;
  text-decoration: underline;
  color: black;
}

h2 {
  font-size: large;
  color: black;
}

h3 {
  font-size: larger;
  font-weight: bold;
  color: black;
}

li {
  color: blue;
}
