body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  color: white;
}

h1 {
  color: White;
  text-align: center;
}

p {
  margin: 0;
}

.header {
  display: block;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  width: fit-content;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #333;
  border-radius: 10px;
}

.checkbox-row {
  display: flex;
  margin-top: 60px;
  justify-content: space-around;
  align-items: center;
}

.checkbox-section {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #333;
  border-radius: 10px;
  white-space: nowrap;
  flex-wrap: nowrap;
}

.green-indicator {
  width: 40px;
  display: none;
}

.red-indicator {
  width: 40px;
  display: block;
}

.selection-value {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
}

#uppercase-true {
  display: none;
  color: green;
  text-align: center;
}

#uppercase-false {
  display: block;
  color: red;
  text-align: center;
}

#uppercase-example-true {
  font-size: 12px;
  padding-top: 2px;
  color: white;
}

#uppercase-example-false {
  font-size: 12px;
  padding-top: 2px;
  color: rgb(175, 175, 175);
  text-decoration: line-through;
}

#lowercase-true {
  display: none;
  color: green;
  text-align: center;
}

#lowercase-false {
  display: block;
  color: red;
  text-align: center;
}

#lowercase-example-true {
  font-size: 12px;
  padding-top: 2px;
  color: white;
}

#lowercase-example-false {
  font-size: 12px;
  padding-top: 2px;
  color: rgb(175, 175, 175);
  text-decoration: line-through;
}

#numbers-true {
  display: none;
  color: green;
  text-align: center;
}

#numbers-false {
  display: block;
  color: red;
  text-align: center;
}

#numbers-example-true {
  font-size: 12px;
  padding-top: 2px;
  color: white;
}

#numbers-example-false {
  font-size: 12px;
  padding-top: 2px;
  color: rgb(175, 175, 175);
  text-decoration: line-through;
}

#specialcase-true {
  display: none;
  color: green;
  text-align: center;
}

#specialcase-false {
  display: block;
  color: red;
  text-align: center;
}

#specialcase-example-true {
  font-size: 12px;
  padding-top: 2px;
  color: white;
}

#specialcase-example-false {
  font-size: 12px;
  padding-top: 2px;
  color: rgb(175, 175, 175);
  text-decoration: line-through;
}

#password-strength {
  margin: 15px;
  text-align: center;
  font-size: 12px;
  color: rgb(169, 167, 167);
}

#generate-password {
  background-color: #333;
  border-radius: 5px;
  color: black;
  display: block;
  justify-content: space-between;
  margin-left: auto;
  margin-top: 20px;
  padding: 5px;
  font-size: 20px;
  margin-right: auto;
  align-items: center;
}

#generate-password.disabled {
  filter: invert(1);
  pointer-events: none;
  cursor: not-allowed;
}
#password-display {
  position: relative;
  display: block;
  width: 80%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

#password-output {
  position: relative;
  resize: none;
  border-radius: 5px;
  height: 40px !important;
  margin-left: 20%;
  padding-left: 5%;
  width: 55% !important;
  font-size: 35px;
}

#copy {
  background: none;
  border: none;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translateY(-50%);
  z-index: 1;
}

#copy img {
  width: 20px;
}

#password-length {
  display: flex;
  align-items: center;
  background-color: #333;
  width: 40%;
  height: 80px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

#password-length-bar-wrapper {
  width: 60%;
  height: 40px;
  margin-left: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#password-length-bar {
  width: 100%;
  height: 6px;
  background-color: white;
  border-radius: 3px;
}

#password-length-slider {
  background-color: #0f0;
  position: relative;
  top: -7px;
  width: 20px;
  height: 20px;
  background: black;
  border-radius: 50%;
  cursor: pointer;
}

#inner-circle {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  background: white;
  border-radius: 50%;
}

#password-length-value {
  height: 70%;
  width: 10%;
  margin-left: 10%;
  border-radius: 5px;
  background-color: white;
  color: black;
  font-size: 30px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

#dialog {
  position: fixed;
  background-color: #333;
  border-radius: 3px;
  color: white;
  padding: 5px;
  left: 40%;
  transition: opacity 0.5s;
  opacity: 1;
}

#dialog-text {
  height: 20px;
}

#dialog.hidden {
  opacity: 0;
}

.hidden {
  display: none;
}
